/* Font Declarations */
@font-face {
    font-family: "Pacifico Regular";
    src: url("fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand Light";
    src: url("fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand Regular";
    src: url("fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand Medium";
    src: url("fonts/Quicksand-Medium.ttf") format("truetype");
}

/* Variables */
:root {
    /* Colors */
    --main-text-color: rgb(14, 12, 10);
    --green: rgb(73, 216, 155);
    --purple: rgb(155, 73, 216);
    --orange: rgb(216, 155, 73);
    --hot-pink: rgb(216, 73, 180);
    --pink-to-purple-gradient: -webkit-linear-gradient(217deg, var(--hot-pink) 0%, var(--purple) 100%);
    --green-to-purple-gradient: -webkit-linear-gradient(127deg, var(--green) 0%, var(--purple) 100%);
    --purple-to-orange-gradient: -webkit-linear-gradient(336deg, var(--purple) 0%, var(--orange) 100% );
    --orange-to-pink-gradient: -webkit-linear-gradient(336deg, var(--orange) 0%, var(--hot-pink) 100%);
    
    /* Type */
    --pacifico: "Pacifico Regular", cursive;
    --quicksand-light: "Quicksand Light", sans-serif;
    --quicksand-regular: "Quicksand Regular", sans-serif;
    --quicksand-medium: "Quicksand Medium", sans-serif;
    --small: 1em;
    --regular: 1.2em;
    --medium: 1.8em;
    --large: 2.2em;
    --extra-large: 3.2em;
    --extra-small: 0.8em;
    --mobile-small: 0.5em;
}

/* General Styles */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--quicksand-light);
    color: var(--main-text-color);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(252,250,250,1) 51%, rgba(241,242,249,1) 100%);
}

.title-container {
    position: relative;
}

.title {
    font-family: var(--pacifico);
    font-size: var(--extra-large);
    margin-bottom: 0;
}


/* Layout Styles */
.app-container {
    width: 90%;
    max-width: 700px;
    min-height: 100vh;
    position: relative;
    margin: 2em auto;
    padding-bottom: 2em;
    font-family: var(--quicksand-light);
    font-size: var(--regular);
    color: var(--main-text-color);
}

/* Wrapper for the child compoenents placed in the main content area */
.main-content {
    margin-top: 3em;
}


/* Navigation */
.main-navigation {
    display: flex;
    position: sticky;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

.nav-list .nav-item .link {
    text-decoration: none;
    font-family: var(--quicksand-light);
    color: var(--main-text-color);
    font-size: var(--small);
}

.nav-list .nav-item .active {
    color: var(--hot-pink);
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg, var(--orange), var(--hot-pink)) 1;
}

.nav-list .nav-item .link:hover {
    color: var(--hot-pink);
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg, var(--orange), var(--hot-pink)) 1;
    transition: border-bottom 0.2s ease-in;
}

.logo-link {
    font-family: var(--pacifico);
    font-size: var(--regular);
    padding: 10px;
    background: var(--orange-to-pink-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-link a {
    text-decoration: none;
}


.logo-link:hover {
    transform: rotate(-2.0deg) scale(1.2);
    transition: transform 0.2s ease-out;
}

.footer {
    font-size: var(--extra-small);
    font-family: var(--quicksand-light);
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 90%;
    height: 2em;
}

.waving-hand {
    position: absolute;
    top: 0.5em;
    left: 7.8em;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg);
    }
    
    10% {
        transform: rotate(14.0deg);
    }

    20% {
        transform: rotate(-8.0deg);
    }

    30% {
        transform: rotate(14.0deg);
    }

    40% {
        transform: rotate(-4.0deg);
    }

    50% {
        transform: rotate(10.0deg);
    }
    60% {
        transform: rotate(0.0deg);
    }
    100% {
        transform: rotate(0.0deg);
    }
}

.gradient-text {
    background: var(--green-to-purple-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: var(--medium);
    line-height: 1.5em;
    margin-top: 0;
}


.cta-link {
    display: block;
    width: 90%;
    height: 3em;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: var(--quicksand-medium);
    font-size: var(--small);
    text-align: center;
    text-decoration: none;
    color: white;
    background: var(--orange-to-pink-gradient);
}

.cta-link-text {
    padding-top: 15px;
    display: block;
}

.cta-link:hover {
    color: var(--hot-pink);
    font-family: var(--bold);
    background: transparent;
}

.cta-link:before,
.cta-link:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background: var(--hot-pink);
    box-shadow: -1px -1px 3px #fff,
                7px 7px 20px 0px #0001,
                4px 4px 5px 0px #0001;
}

.cta-link:before {
    top: 0;
    right: 0;
}

.cta-link::after {
    left: 0;
    bottom: 0;
}

.cta-link:hover:before,
.cta-link:hover:after {
    width: 100%;
    transition: all 800ms ease;
}

.heart {
    color: var(--hot-pink);
    opacity: 0.7;
}


/* Responsive Styling */
@media screen and (min-width: 840px) {
    .main-content {
        margin-top: 6em;
    }

    .description {
        font-size: var(--large);
    }

    .cta-link {
        width: 40%;
    }

    .footer {
        text-align: left;
    }
}

/* Mobile Styles */
@media screen and (max-width: 400px) {
    .app-container {
        margin-left: 1em;
    }

    .description {
        font-size: var(--regular);
        margin-bottom: 1.5em;
    }

    .logo-link {
        display: none;
    }

    .nav-list {
        gap: 15px;
        padding: 0;
    }
    
    .nav-list .nav-item .link {
        color: var(--hot-pink);
        font-family: var(--quicksand-light);
        font-size: var(--extra-small);
    }

    .footer {
        font-size: var(--mobile-small);
    }
}