/******************
 Font Declarations
*******************/

@font-face {
  font-family: "Pacifico Regular";
  src: url("fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand Light";
  src: url("fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand Regular";
  src: url("fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand Medium";
  src: url("fonts/Quicksand-Medium.ttf") format("truetype");
}

/**********
 Variables
**********/

:root {
  /* Colors */
  --main-text-color: #3b848f;
  --green: #cbffbd;
  --blue: #93f5d7;
  --purple: #e291ed;
  --orange: #f5c75d;
  --multi-color-gradient: -webkit-linear-gradient(-200deg, var(--green) 0%, var(--blue) 30%, var(--purple) 50%, var(--orange) 100%);
  --green-to-purple-gradient: -webkit-linear-gradient(-200deg, var(--green) 0%, var(--blue) 30%);
  --purple-to-orange-gradient: -webkit-linear-gradient(45deg, var(--purple) 0%, var(--orange) 30%);

  /* Type */
  --pacifico: "Pacifico Regular", cursive;
  --quicksand-light: "Quicksand Light", sans-serif;
  --quicksand-regular: "Quicksand Regular", sans-serif;
  --quicksand-medium: "Quicksand Medium", sans-serif;
  --small: 16px;
  --regular: 24px;
  --medium: 32px;
  --large: 48px;
  --extra-large: 64px;
  --extra-small: 12px;
  --mobile-small: 8px;

  /* Cartoon Colors */
  --line: #3b848f;
  --eyebrow: #786e32;
  --skin: #f0dfb6;
  --hair: #dfcf7c;
  --iris: #89ccaf;
  --shirt: #fff;
  --shadow: #5002;
  --mouth: #bd72b1;
  --eye: #fcfcfc;
  --cheek: #fca;
  --highlight: #f5e59d;
  --shirt: #93f5d7;
}

/*****************
  General Styles
******************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  color: var(--main-text-color);
}


/***************
  Layout Styles
****************/

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 2em;
  font-family: var(--quicksand-light);
  font-size: var(--regular);
  color: var(--main-text-color);
}

.main-content {
  display: flex;
  margin-left: 10em;
}

.copyright {
  color: var(--purple);
  margin-left: 2em;
  font-size: 14px;
}

/**************
  Navigation
***************/

.main-navigation {
  display: flex;
  margin-left: 10em;
  align-items: flex-end;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}

.nav-list .nav-item .link {
  text-decoration: none;
  font-family: var(--quicksand-regular);
  color: var(--main-text-color);
  font-size: var(--small);
}

.nav-list .nav-item .active {
  border-bottom: 2px solid;
  border-image: var(--multi-color-gradient) 2;
  background: var(--multi-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list .nav-item .link:hover {
  border-bottom: 2px solid;
  border-image: var(--multi-color-gradient) 2;
  transition: border-bottom 0.2s ease-in;
  background: var(--multi-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-link {
  font-family: var(--pacifico);
  font-size: var(--regular);
  padding: 15px;
  background: var(--multi-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-link a {
  text-decoration: none;
}


.logo-link:hover {
  transform: rotate(-2.0deg) scale(1.2);
  transition: transform 0.2s ease-out;
}

/**************
 Shared Styles
***************/
.emphasis {
  font-family: var(--pacifico);
  background: var(--multi-color-gradient);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: movingGradient 10s ease-in infinite;
}

.underline {
  border-bottom: 2px double;
  border-radius: 100% / 100% 10% 15% 20%;
}

.cta-button {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 45px;
  font-size: var(--small);
  font-family: var(--quicksand-regular);
  text-decoration: none;
  color: var(--purple);
  border: 2px solid var(--purple);
  border-radius: 5px;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.cta-button-text {
  position: relative;
  z-index: 2;
}

.cta-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 5px;
  background: var(--multi-color-gradient);
  transition: all .35s;
}

.cta-button:hover {
  color: white;
  border: 2px solid white;
}

.cta-button:hover:after {
  width: 100%;
}

/***************
  Animations
****************/
@keyframes grow {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  60% {
    transform: scale(1.4);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

@keyframes movingGradient {
  to {
    background-position: 200% center;
  }
}

@keyframes wave-animation {
  0% {
      transform: rotate(0.0deg);
  }
  
  10% {
      transform: rotate(14.0deg);
  }

  20% {
      transform: rotate(-8.0deg);
  }

  30% {
      transform: rotate(14.0deg);
  }

  40% {
      transform: rotate(-4.0deg);
  }

  50% {
      transform: rotate(10.0deg);
  }
  60% {
      transform: rotate(0.0deg);
  }
  100% {
      transform: rotate(0.0deg);
  }
}

/***************
 Home Page
****************/

.heading-container {
  position: relative;
  width: 35%;
  margin-top: 10em;
}

.waving-hand-wrapper {
  position: relative;
  width: 1.3em;
  height: 2em;
  display: inline-block;
}

.waving-hand {
  position: absolute;
  height: 1.75em;
  top: 0.6em;
  left: -0.2em;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  filter: drop-shadow(1px 2px 3px var(--orange))
}

.heading-text {
  font-size: var(--medium);
  margin-bottom: 0.75em;
}

.graphic-container {
  position: relative;
  width: 55%;
  height: 100vh;
}

.cartoon {
  width: 40vmin;
  height: 40vmin;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0%);
  color: var(--line);
}

.cartoon div,
.cartoon div.hasAfter,
.cartoon div.hasBefore {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.side-bang-1 {
  width: 28%;
  height: 24%;
  background: var(--hair);
  border-radius: 100% 0 120% 0;
  top: 15%;
  left: 24%;
  transform: rotate(-4deg);
  z-index: 3;
  box-shadow:
    0 0.2vmin 0 var(--line),
    0 1.25vmin 1vmin var(--shadow);
}

.side-bang-2 {
  width: 25%;
  height: 20%;
  background: var(--hair);
  border-radius: 0 100% 0 100%;
  left: 50%;
  top: 14%;
  z-index: 3;
  box-shadow:
    0 0.2vmin 0 var(--line),
    0 1.25vmin 1vmin var(--shadow);
}

.highlight {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  transform: rotate(-15deg);
  left: 22%;
  top: 5%;
  z-index: 3;
  box-shadow: 1vmin 0 var(--highlight);
  clip-path: polygon(150% 50%, 150% 100%, 0% 100%);
}

.highlight + .highlight {
  left: auto;
  right: 20%;
  top: 4%;
  transform: scaleX(-1);
}

.hair {
  width: 65%;
  height: 85%;
  left: 18%;
  transform: translate(50% 0);
  top: 10%;
  border: 0.2vmin solid;
  border-radius: 100% / 80% 80% 10% 10%;
  background: var(--hair);
  z-index: -1;
}

.face {
  width: 45%;
  height: 60%;
  background: var(--skin);
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  z-index: 2;
  border-radius: 100% / 50% 50% 120% 120%;
  border: 0.2vmin solid;
  border-bottom-width: 0.3vmin;
  border-top-width: 0.3vmin;
  box-shadow:
    inset -0.5vmin 0 var(--shadow),
    inset 0.5vmin 0 var(--shadow);
}

.mouth {
  width: 50%;
  height: 20%;
  border-radius: 100%;
  box-shadow: -0.1vmin 1.3vmin 0 -1vmin var(--mouth);
  top: 63%;
  transform: translateX(50%) rotate(9deg);
}

.eye {
  width: 30%;
  height: 25%;
  background: var(--eye);
  border: 0.2vmin solid;
  border-right-width: 0.3vmin;
  border-radius: 100% / 100% 65% 15% 15%;
  top: 35%;
  left: 12%;
  transform: rotate(-4deg);
  overflow: hidden;
  box-shadow:
    0 -2vmin 0 0.75vmin var(--skin),
    0 -4.5vmin 0 -0.5vmin var(--eyebrow);
}

.eyelash {
  width: 2vmin;
  height: 1vmin;
  top: 35%;
  left: 6%;
  border-radius: 50%;
  box-shadow: -0.2vmin 0.2vmin;
  transform: rotate(-2deg);
  z-index: 1;
}

.eyelash + .eyelash {
  left: auto;
  right: 6%;
  transform: scaleX(-1) rotate(-2deg);
}

.eye + .eye {
  left: auto;
  right: 12%;
  transform: scaleX(-1) rotate(-4deg);
}

.pupil {
  width: 3.5vmin;
  height: 3.5vmin;
  top: 36%;
  left: 18%;
  background: var(--iris);
  border-radius: 50%;
  border: 0.2vmin solid;
  background-image: 
    radial-gradient(circle at 30% 32%, #fff 7%, #0000 0),
    radial-gradient(circle at 40% 27%, #fff 4%, #0000 0),
    radial-gradient(var(--line) 35%, #0000 0);
}

.eye + .eye .pupil {
  transform: scaleX(-1);
}

.nose {
  width: 12%;
  height: 16%;
  top: 55%;
  left: 47%;
  transform: translate(-50% 0);
  transform: rotate(5deg);
  border-radius: 30%;
  box-shadow: -0.2vmin 0.3vmin;
}

.cheeks {
  width: 80%;
  height: 6%;
  top: 59%;
  left: 12%;
  transform: translate(-50% 0);
  border-radius: 50%;
  background: var(--cheek);
  filter: blur(1vmin);
  z-index: -1;
}

.freckles {
  width: 0.5vmin;
  height: 0.5vmin;
  background: var(--shadow);
  color: var(--shadow);
  border-radius: 50%;
  top: 62%;
  left: 25%;
  box-shadow:
    -2vmin 0vmin 0 -0.125vmin,
     2vmin -0.125vmin 0 -0.125vmin,
     6vmin 0 0 -0.125vmin,
     9vmin 0.2vmin 0,
     12vmin 1vmin 0 -0.125vmin;
}

.neck {
  width: 20%;
  height: 16%;
  background: var(--skin);
  background-image: radial-gradient(circle at 50% -40%, var(--shadow) 75%, #0000 0);
  top: 70%;
  left: 30%;
  transform: translate(50%);
  border: 0.2vmin solid;
  border-bottom: 0;
  z-index: 01;
}

.body {
  background: var(--shirt);
  width: 80%;
  height: 40%;
  border-radius: 100% / 75% 80%;
  top: 85%;
  left: 10%;
  box-shadow: 0 -0.2vmin 0 0.125vmin;
  background-image: radial-gradient(circle at 50% -20%, var(--skin) 27%, var(--line) 0 28%, transparent 0);
}

.description {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  left: -9999vw;
}

.icons-container {
  position: relative;
}

.icon-www {
  left: 95%;
  bottom: 42%;
  position: absolute;
  opacity: 0.5;
  width: 6vmin;
  height: 6vmin;
  animation: grow 10s ease-in-out infinite;
}

.icon-settings {
  opacity: 0.5;
  position: absolute;
  left: -10%;
  top: 40%;
  width: 6vmin;
  height: 6vmin;
  animation: grow 10s ease-in-out infinite;
}

.icon-website {
  position: absolute;
  left: 42%;
  top: -10%;
  opacity: 0.5;
  width: 6vmin;
  height: 6vmin;
  animation: grow 10s ease-in-out infinite;
}

/******************
 Responsive Styles
*******************/

/* Mobile Styles */

@media screen and (max-width: 1200px) {
  .main-content {
    flex-direction: column;
  }
  .heading-container {
    width: 90%;
  }

  .cta-button {
    display: none;
  }

  .cartoon {
    top: 10%;
    left: 80%;
  }
}

@media screen and (max-width: 1500px) {
  .main-navigation {
    margin-left: 5em;
  }

  .main-content {
    margin-left: 5em;
  }
}

@media screen and (max-width: 1000px) {
  .app-container {
    padding-top: 0.5em;
  }
  
  .main-navigation {
    margin-left: 2em;
  }

  .main-content {
    margin-left: 2.5em;
  }
  
  .heading-container {
    margin-top: 3em;
  }
}

@media screen and (max-width: 700px) {
  .heading-container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .heading-container {
    margin-top: 1em;
  }

  .main-navigation {
    margin-left: 2px;
  }

  .main-content {
    margin-left: 20px;
  }
}

@media screen and (max-height: 500px) {
  .heading-container {
    margin-top: 1em;
  }
  .cta-button {
    height: 60px;
    line-height: 50px;
  }
  .cartoon {
    top: 20%;
  }
}